// Allowed keys:
// name       String
// weight     Number
// labels     Array[String]
// projectIds Number
// epicId     Number
// onlyIssue  Bool
{
    "templates": [
      {
        "name": "Bug easy",
        "weight": 1,
        "labels": ["Bug", "P::1"]
      },
      {
        "name": "Bug medium",
        "weight": 3,
        "labels": ["Bug", "P::1"]
      },
      {
        "name": "Feature easy",
        "weight": 3,
        "labels": ["feature::Confirmed"]
      },
      {
        "name": "Feature medium BE + FE issue only",
        "weight": 6,
        "labels": ["feature::Confirmed"],
	"projectIds": [123, 584],
        "onlyIssue": true
      }
    ],
    "reviewers": [123, 456, 789],
    "productionMappings": {
      "9418557": {
        "stage": "deploy",
        "job": "production:deploy"
      },
      "10682806": {
        "stage": "deploy",
        "job": "production:deploy"
      }
    }
  }
  
